.basicBackground{
  background-color: #F8F9FA;
}

.section {
  /* background-color: silver; */
  padding: 80px;
  text-align: left;
  max-width: 1000px;
  margin: auto;
}

.smallSizeFont{
  font-size: 16px;
}

.mediumSizeFont{
  font-size: 20px;
  font-weight: bold;
}

.regularSizeFont{
  font-size: 18px;
}

.largeSizeFont{
  font-size: 28px;
  font-weight: bold;
}

.miniBtn {
  height: 35px;
}


